h1{
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#forma{
    width: 500px;
}
#lili{
    width: 500px;
}
#edit{
    width: 500px;
}
